<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotivationalQuotesEnglish"
        tools:targetApi="31">
        <activity
            android:name=".UploadShayari"
            android:exported="false" />
        <activity
            android:name=".UpAdver"
            android:exported="false" />
        <activity
            android:name=".Adver"
            android:exported="false" />
        <activity android:name=".Festival" />
        <activity android:name=".Maharaj" />
        <activity android:name=".Ambedkar" />
        <activity android:name=".Icici" />
        <activity android:name=".Upstox" />
        <activity android:name=".PlayNWin" />
        <activity android:name=".EarnMoney" />
        <activity android:name=".UploadKalam" />
        <activity android:name=".MotivationalTextActivity" />
        <activity android:name=".BussinessActivity" />
        <activity android:name=".KalamActivity" />
        <activity android:name=".VivekanandActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".FullImageActivity" />
        <activity android:name=".UploadStatusActivity"/>
        <activity android:name=".UploadLiveActivity"/>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Full_Image_Activity" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6972616661119579~1841426944" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="9FZDhFM5XnyT_Nq6dvk813igaSSggwsKH4Wl5sts6-cKVrZoTtOl_xBFtMELw8mxwabFkz5VT1HCUXgJ1GoqDT" />


    </application>


</manifest>